/rf_mb_lowres_train.feather
/rf_mb_lowres_test.feather
/rf_mb_highres_train.feather
/rf_mb_highres_test.feather
/rf_s_lowres_test.feather
/rf_s_lowres_train.feather
/rf_s_highres_train.feather
/rf_s_highres_test.feather
